.box-design:hover{
    filter:drop-shadow(5px 5px 8px rgba(222, 222, 222, 0.423)) ;
}

.box-design:hover img:first-child{
    background: linear-gradient(45deg,lightblue,rgb(43 132 234));
}

.zig-zag-image{
    background-image: url(https://razorpay.com/build/browser/static/wave-blue.3362585e.svg);
    background-repeat: no-repeat;
    height: 4rem;
    width: 5rem;
    opacity: 0;
}
.box-design:hover .zig-zag-image{
    opacity: 1;
}