.container{
    height: 700px;
    border: 1px solid red;
    background-color: yellow;
    display: grid;
    grid-template-columns: 400px 400px 300px;
    grid-template-rows: 300px 200px ;
    grid-template-areas: 
    "a a a"
    "b c c"
    "d d d"
}

.box{
    border: 1px solid green;
    background-color: aqua;
    /* height: 100px;
    width: 100px; */
}

.box1{
    grid-area: a;
}

.box2{
    grid-area: b;
}

.box3{
    grid-area: c;
}

.box4{
    grid-area: d;
}

