body{
    display: flex;
}
.box{
    margin: 2px;
    border: 2px solid black;
    background-color: blue;
    height: 100px;
    width: 100px;
}

.wrap{
    height: 1000px;
}

#box4{
    position: sticky;
    top: 50px;
    right: 50px;
}